<!-- 위 -->
<app-header></app-header>

<!-- 리스트 -->
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">학년</th>
        <th scope="col">반</th>
        <th scope="col">이름</th>
        <th scope="col"><button class="btn btn-primary" routerLink="/detail">추가하기</button></th>
      </tr>
    </thead>
    <tbody>
    
      <tr *ngFor="let student of students; let i = index">
        <td>{{student.stuId}}</td>
        <td>{{student.stuGrade}}</td>
        <td>{{student.stuClass}}</td>
        <td>{{student.stuName}}</td>
        <td>
            <button class="btn btn-primary" style="margin-right:15px" routerLink="/detail/{{student.stuId}}">수정하기</button>
            <button class="btn btn-danger" (click)="deleteStudent(student.stuId)">삭제하기</button>
        </td>
      </tr>
    </tbody>
  </table>

<!-- 아래 -->
<app-footer></app-footer>